Common/Test_Version_Control.snapshot
{
  "header" : {
    "dataModelVersion" : "2"
  },
  "content" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "4a5a9ef3-0168-1000-ffff-ffffc114f0e4",
        "id" : "9ff31b38-db98-386b-b873-bcdada96c9bc",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "e96adf7a-bf4a-3ba8-a2e2-2aebead0b9f9",
      "identifier" : "9b3e060d-ca9c-3481-a5f6-00728bb9e7af",
      "labelIndex" : 1,
      "name" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "4a5a9ef3-0168-1000-ffff-ffffc114f0e4",
        "id" : "9d64b4e2-ab4c-301d-8362-b836833d2766",
        "name" : "GenerateFlowFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "e96adf7a-bf4a-3ba8-a2e2-2aebead0b9f9",
      "identifier" : "9ff31b38-db98-386b-b873-bcdada96c9bc",
      "position" : {
        "x" : 953.0,
        "y" : 254.0
      }
    } ],
    "identifier" : "e96adf7a-bf4a-3ba8-a2e2-2aebead0b9f9",
    "inputPorts" : [ ],
    "labels" : [ ],
    "name" : "Test Version",
    "outputPorts" : [ ],
    "position" : {
      "x" : 378.0,
      "y" : 128.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "e96adf7a-bf4a-3ba8-a2e2-2aebead0b9f9",
      "identifier" : "9d64b4e2-ab4c-301d-8362-b836833d2766",
      "name" : "GenerateFlowFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 453.0,
        "y" : 411.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "File Size" : "100B",
        "generate-ff-custom-text" : "${CustomText}",
        "Batch Size" : "1",
        "Unique FlowFiles" : "false",
        "Data Format" : "Text"
      },
      "propertyDescriptors" : {
        "character-set" : {
          "displayName" : "Character Set",
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "File Size" : {
          "displayName" : "File Size",
          "identifiesControllerService" : false,
          "name" : "File Size",
          "sensitive" : false
        },
        "generate-ff-custom-text" : {
          "displayName" : "Custom Text",
          "identifiesControllerService" : false,
          "name" : "generate-ff-custom-text",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Unique FlowFiles" : {
          "displayName" : "Unique FlowFiles",
          "identifiesControllerService" : false,
          "name" : "Unique FlowFiles",
          "sensitive" : false
        },
        "Data Format" : {
          "displayName" : "Data Format",
          "identifiesControllerService" : false,
          "name" : "Data Format",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "e96adf7a-bf4a-3ba8-a2e2-2aebead0b9f9",
      "identifier" : "cbd3751d-0e63-34a5-a4c4-4f8096515c5a",
      "name" : "GetFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 812.0,
        "y" : 84.0
      },
      "properties" : {
        "Keep Source File" : "false",
        "Minimum File Age" : "0 sec",
        "Polling Interval" : "0 sec",
        "Batch Size" : "10",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "Recurse Subdirectories" : "true",
        "File Filter" : "[^\\.].*"
      },
      "propertyDescriptors" : {
        "Keep Source File" : {
          "displayName" : "Keep Source File",
          "identifiesControllerService" : false,
          "name" : "Keep Source File",
          "sensitive" : false
        },
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "Polling Interval" : {
          "displayName" : "Polling Interval",
          "identifiesControllerService" : false,
          "name" : "Polling Interval",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GetFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "1.7.0.3.2.0.0-520"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "e96adf7a-bf4a-3ba8-a2e2-2aebead0b9f9",
      "identifier" : "ce02d100-40a0-39fe-bd13-a68d17cbe930",
      "name" : "TailFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 324.0,
        "y" : 71.0
      },
      "properties" : {
        "tailfile-recursive-lookup" : "false",
        "File Location" : "Local",
        "tailfile-maximum-age" : "24 hours",
        "Initial Start Position" : "Beginning of File",
        "tailfile-lookup-frequency" : "10 minutes",
        "tail-mode" : "Single file"
      },
      "propertyDescriptors" : {
        "tail-base-directory" : {
          "displayName" : "Base directory",
          "identifiesControllerService" : false,
          "name" : "tail-base-directory",
          "sensitive" : false
        },
        "tailfile-recursive-lookup" : {
          "displayName" : "Recursive lookup",
          "identifiesControllerService" : false,
          "name" : "tailfile-recursive-lookup",
          "sensitive" : false
        },
        "File Location" : {
          "displayName" : "State Location",
          "identifiesControllerService" : false,
          "name" : "File Location",
          "sensitive" : false
        },
        "tailfile-maximum-age" : {
          "displayName" : "Maximum age",
          "identifiesControllerService" : false,
          "name" : "tailfile-maximum-age",
          "sensitive" : false
        },
        "Rolling Filename Pattern" : {
          "displayName" : "Rolling Filename Pattern",
          "identifiesControllerService" : false,
          "name" : "Rolling Filename Pattern",
          "sensitive" : false
        },
        "File to Tail" : {
          "displayName" : "File(s) to Tail",
          "identifiesControllerService" : false,
          "name" : "File to Tail",
          "sensitive" : false
        },
        "Initial Start Position" : {
          "displayName" : "Initial Start Position",
          "identifiesControllerService" : false,
          "name" : "Initial Start Position",
          "sensitive" : false
        },
        "tailfile-lookup-frequency" : {
          "displayName" : "Lookup frequency",
          "identifiesControllerService" : false,
          "name" : "tailfile-lookup-frequency",
          "sensitive" : false
        },
        "tail-mode" : {
          "displayName" : "Tailing mode",
          "identifiesControllerService" : false,
          "name" : "tail-mode",
          "sensitive" : false
        }
      },
      "runDurationMillis" : 0,
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.TailFile",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "variables" : {
      "CustomText" : "HAHAHA"
    }
  }
}